#Kopfzeile{
    background-color: dodgerblue;
    height: 100px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

#Body{

}

#navbar{
    text-decoration: none;
    background-color: dimgray;
}

#navi li{
    display:inline;
	margin:25px;
}

#navi a{
    text-decoration: none;
    color: white;
    
}

#navi a:hover {
	color: bisque;		
}

#Überschrift{
    background-color: chartreuse;
    width: 550px;
    height: 50px;
}
